{% extends 'base.html'%}


{% block title %}Posts{% endblock %}
	
{% block secondary-buttons %}
	<a class = 'btn btn-dark btn-secondary' href="{% url 'posts_create' %}">Create new post</a>
	<a class = 'btn btn-dark btn-secondary' href="{% url 'posts_main' %}">Come back</a>
{% endblock %}

{% block body %}
	<div class = 'topics-list'>
		{% for topic in all_topics%}
			<a class = 'btn btn-success topic-btn' href = "{% url 'posts_user_topic' request.user.login topic.name %}">{{topic.name}}</a>
		{% endfor %}
	</div>
	<div class = 'posts-list'>
		{% for post in all_posts %}
			<div class="post">

				<h6 class = 'title'>{{post.title}}</h6>
				<h6 class = 'text'>{{post.text}}</h6>

				<div class="optional-block">

					<div class="secondary_info">
						<h6 class = 'topic'>Topic: <strong>{{post.topic}}</strong></h6>
						<h6 class = 'author'>Author: <strong>{{post.author}}</strong></h6>
						<h6 class = 'update'>Last update: {{post.date_update|date:"d-m-Y"}}</h6>
					</div>

					<div class="post_buttons">
						<a class = 'btn btn-primary' href="{% url 'posts_post' post.id%}">Read</a>
						<a class = 'btn btn-warning' href="{% url 'posts_update' post.id%}">Update</a>
						<a class = 'btn btn-danger' href="{% url 'posts_delete' post.id%}">Delete</a>
					</div>

				</div>

			</div>
		{% endfor %}
	</div>
	
{% endblock %}